.comentaries_box {
  width: 100%;
  padding: 2rem 0;
  box-sizing: border-box;
  overflow: hidden;
  color: #fff;
}

.comentaries_box > h1 {
  font-size: 2.5rem;
  text-align: center;
  padding-bottom: 2rem;
}

.comentaries_form {
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: center;
}

.comentaries_form > textarea {
  width: 100%;
  height: 7rem;
  padding: 0.4rem;
  font-size: 1.2rem;
  outline: none;
  resize: none;
  background: #00000052;
  color: #fff;
}

.comentaries_button {
  width: 100%;
  height: 3rem;
  margin: 1rem 0;
  font-size: 1.4rem;
  background: deepskyblue;
  color: #fff;
  cursor: pointer;
}

.comentaries_box_message {
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

.comentaries_box_message > h1 {
  font-size: 1.5rem;
}

.comentaries_content {
  width: 95%;
  margin: 2rem 0;
  background: #000000cc;
  box-shadow: 5px 5px 15px 5px #ffffff54;
  color: #fff;
  border-radius: 1rem;
}

.comentaries_card {
  padding: 1rem;
}

.comentaries_card > h2,
.opinion_date {
  padding: 1rem 0;
  font-size: 1.7rem;
}

.comentari_opinion {
  padding: 1rem 0;
  font-size: 1.7rem;
}

.comentari_opinion_large {
  height: 11rem;
  overflow: auto;
  padding: 1rem 0;
  font-size: 1.7rem;
}

.comentari_opinion_large::-webkit-scrollbar {
  width: 0.5rem;
}

.comentari_opinion_large::-webkit-scrollbar-thumb {
  background: #00c6f8ab;
}

.comentaries_buttons {
  width: 100%;
  padding: 1rem 0;
  display: flex;
  align-items: center;
}

.span_btn_like,
.span_btn_disLike {
  width: 3rem;
  font-size: 1.4rem;
  padding-right: 1.5rem;
  display: flex;
  align-items: center;
  justify-content: space-around;
  cursor: pointer;
}

.btn_like_no {
  cursor: not-allowed;
  pointer-events: none;
}

@media (min-width: 800px) {
  .comentaries_box {
    width: 80%;
    margin: 0 auto;
  }

  .comentaries_form > textarea {
    width: 97%;
  }
}

@media (min-width: 1000px) {
  .comentaries_form {
    width: 65%;
    margin: 0 auto;
  }
}

@media (min-width: 1500px) {
  .comentaries_box_message {
    width: 65%;
    margin: 0 auto;
  }

  .comentaries_button {
    width: 30%;
  }
}
