.features_background {
  width: 100%;
  height: 100vh;
  position: fixed;
  top: 0;
  background: url("../../../images/cine.jpg");
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  z-index: -1;
}

.features_btn_return {
  width: 4rem;
  height: 4rem;
  position: fixed;
  border-radius: 50%;
  right: 1rem;
  bottom: 1rem;
  background: #23a4ff;
  color: #fff;
  border: none;
  font-size: 1rem;
  cursor: pointer;
  display: flex;
  align-items: center;
  justify-content: center;
}

.features_box {
  width: 100%;
  color: white;
  box-sizing: border-box;
  overflow: hidden;
}

.features_content {
  width: 100%;
  height: 100%;
}

.features_img {
  width: 100%;
  height: 100%;
}

.img_movie {
  width: 100%;
  object-fit: cover;
  overflow: hidden;
}

.features_desc {
  width: 100%;
  padding: 1rem 0.4rem;
  box-sizing: border-box;
  overflow: auto;
}

.features_desc::-webkit-scrollbar {
  width: 0.5rem;
}

.features_desc::-webkit-scrollbar-thumb {
  background: #707070ab;
  border-radius: 5px;
}

.features_desc h2 {
  padding: 2rem 0;
  text-align: center;
}

.features_date {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: space-between;
  box-sizing: border-box;
}

.features_svg {
  padding: 0.3rem;
  font-size: 1.7rem;
  cursor: pointer;
}

.features_svg_popular {
  width: 9rem;
  display: flex;
  align-items: center;
  justify-content: space-around;
}

.features_svg_popular > p {
  display: flex;
  align-items: center;
}

.features_description p {
  padding: 0 0.5rem;
  margin-bottom: 1rem;
  font-size: 1.2rem;
}

.features_ul {
  padding: 1rem 0.5rem;
  font-size: 1.2rem;
  border-top: 1px solid;
  border-bottom: 1px solid;
}

ul.features_ul > li {
  padding: 0.3rem 0;
}

.features_rented {
  font-size: 1.2rem;
}

.features_buttons {
  width: 100%;
  padding: 1rem 0;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.btn_buy {
  width: 45%;
  height: 3rem;
  font-size: 1.2rem;
  margin: 0 1rem;
  background: transparent;
  border-radius: 1rem;
  border: 1px solid white;
  color: white;
  transition: 1s ease-in-out;
  cursor: pointer;
}

.loader_buy {
  width: 100%;
  height: 100vh;
  padding: 1rem;
  position: fixed;
  top: 0;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  background: #020e15;
  box-sizing: border-box;
  overflow: hidden;
}

.loader_buy > h1 {
  font-size: 2.5rem;
  color: #6a91ff;
}

@media screen and (min-width: 500px) {
  .features_img {
    width: 24rem;
    margin: 0 auto;
  }
}

@media screen and (min-width: 800px) {
  .features_desc h2 {
    font-size: 3rem;
  }

  .features_description p {
    padding: 0 5rem;
  }

  .features_ul {
    display: grid;
    grid-template-columns: 1fr 1fr;
    align-items: center;
  }

  .features_buttons {
    padding: 1rem 3rem;
    box-sizing: border-box;
  }

  .btn_buy {
    width: 39%;
    height: 3rem;
    font-size: 1.4rem;
  }
}

@media screen and (min-width: 900px) {
  .features_desc h2 {
    text-align: initial;
    font-size: 3rem;
    padding-left: 2rem;
  }

  .features_description {
    width: 100%;
    padding-left: 2rem;
    display: flex;
    flex-direction: column;
    box-sizing: border-box;
  }

  .features_description p {
    padding: 0;
    width: 75%;
  }

  .features_buttons {
    padding: 1rem 0 1rem 2rem;
    box-sizing: border-box;
  }

  .btn_buy:hover {
    background: rgb(110, 255, 243);
    color: black;
    transition: 1s ease-in-out;
  }
}

@media screen and (min-width: 1200px) {
  .features_box {
    display: flex;
    justify-content: center;
    align-items: center;
  }

  .features_content {
    height: 100vh;
    padding: 0 2rem;
    display: flex;
    align-items: center;
    box-sizing: border-box;
  }

  .features_description > p {
    width: 96%;
    height: 15rem;
    overflow: auto;
  }

  .features_description p::-webkit-scrollbar {
    width: 0.5rem;
  }

  .features_description p::-webkit-scrollbar-thumb {
    background: #ffffff94;
    border-radius: 5px;
  }

  .feature_content_info {
    width: 100%;
    height: 85%;
    border-radius: 0.5rem;
    display: flex;
    background: #000000ab;
    box-shadow: 5px 5px 15px 5px #727272fa;
  }

  .features_img {
    width: 100%;
  }

  .img_movie {
    height: 100%;
    cursor: pointer;
    object-fit: initial;
  }

  .features_ul {
    border: none;
  }

  .btn_buy {
    width: 46%;
  }
}

@media screen and (min-width: 1450px) {
  .features_content {
    width: 73%;
  }

  .btn_buy {
    font-size: 1.3rem;
  }
}

@media screen and (min-width: 1650px) {
  .features_svg {
    font-size: 2.3rem;
    padding: 0 0.5rem;
  }

  .features_svg_popular {
    width: 11rem;
  }

  .features_desc > h2 {
    font-size: 3.5rem;
    padding-bottom: 1.5rem;
  }

  .features_description > p {
    height: 14rem;
    font-size: 1.4rem;
    padding-bottom: 1.5rem;
  }

  ul.features_ul > li {
    font-size: 1.5rem;
    padding: 1rem 0;
  }

  .features_buttons {
    width: 90%;
    padding: 2rem 0;
    justify-content: space-evenly;
  }

  .btn_buy {
    width: 35%;
  }
}
