.navbar_dropdown {
  width: 100%;
  padding: 1.5rem 0;
  border-bottom: 1px solid;
  display: flex;
  align-items: center;
  flex-wrap: wrap;
  cursor: pointer;
}

.navbar_menu_svg,
.logout_svg {
  font-size: 2rem;
  padding: 0rem 2rem 0px 1.4rem;
}

.navbar_dropdown p,
.navbar_span_logout p {
  font-size: 1.5rem;
}

.ul_types,
.ul_year,
.ul_price,
.ul_votes,
.ul_rented {
  width: 90%;
  border-radius: 1.4rem;
  position: absolute;
  left: 1.4rem;
  background: #ffffff;
  color: #7510f7;
  transition: 2s ease-in-out;
}

.ul_types {
  top: 16rem;
}

.ul_year {
  top: 21rem;
}

.ul_price {
  top: 26rem;
}

.ul_votes {
  top: 31rem;
}

.ul_rented {
  top: 36rem;
}

.navbar_dropdown ul > li {
  font-size: 1.7rem;
  padding: 1rem;
  border-bottom: 1px solid;
}

@media (min-width: 768px) {
  .navbar_dropdown {
    padding: 2rem 0;
  }

  .ul_types,
  .ul_year,
  .ul_price,
  .ul_votes,
  .ul_rented {
    width: 50%;
    left: 3.4rem;
  }

  .ul_types {
    top: 16rem;
  }

  .ul_year {
    top: 22.2rem;
  }

  .ul_price {
    top: 28.2rem;
  }

  .ul_votes {
    top: 34.2rem;
  }

  .ul_rented {
    top: 40.2rem;
  }
}

@media screen and (min-width: 1020px) {
  .ul_types,
  .ul_year,
  .ul_price,
  .ul_votes,
  .ul_rented {
    width: 92%;
    left: 1rem;
  }
}

@media (min-width: 1300px) {
  .social_network {
    font-size: 2.5rem;
  }
}
